<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="../resources/images/ArigieneLogo.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="../resources/images/ArigieneLogo.jpg" type="image/x-icon" />
    <title>The change you wanted was rejected(422)</title>
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.css">
    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="../resources/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/slick-theme.css">
    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/animate.css">
    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="../resources/css/themify-icons.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="../resources/css/color1.css" media="screen" id="color">
  </head>
  <body>
    <!-- header start -->
    <%= render 'layouts/header'%>
  <!-- header end -->
  <!-- breadcrumb start -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="page-title">
            <h2>422 page</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <nav aria-label="breadcrumb" class="theme-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">422 page</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb End -->
  <!-- section start -->
  <section class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="error-section">
            <h1>422</h1>
            <h2>unprocessable entity</h2>
            <p>Maybe you tried to change something you didn't have access to.</p>
            <a href="<%= root_url %>" class="btn btn-solid">back to home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section ends -->
  <!-- footer start -->
  <%= render 'layouts/footer'%>
  <!-- footer end -->
  <!-- tap to top -->
  <div class="tap-top">
    <div>
      <i class="fa fa-angle-double-up"></i>
    </div>
  </div>
  <!-- tap to top End -->
  <!-- theme setting -->
  <!-- theme setting -->
  <!-- latest jquery-->
  <script src="../resources/js/jquery-3.3.1.min.js"></script>
  <!-- menu js-->
  <script src="../resources/js/menu.js"></script>
  <!-- lazyload js-->
  <script src="../resources/js/lazysizes.min.js"></script>
  <!-- popper js-->
  <script src="../resources/js/popper.min.js"></script>
  <!-- slick js-->
  <script src="../resources/js/slick.js"></script>
  <!-- Bootstrap js-->
  <script src="../resources/js/bootstrap.js"></script>
  <!-- Bootstrap Notification js-->
  <script src="../resources/js/bootstrap-notify.min.js"></script>
  <!-- Theme js-->
  <script src="../resources/js/script.js"></script>
  <script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }
    
    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
  </script>
</body>
</html>
