<div data-id="1">
    
    
    <input type="text" class="" id="size_picker_text" onchange="add_size(this)" placeholder="Name your size" name="sizes[][size_type]">
    
    

</div>
<script>
$("#size_picker_text").focus();

</script>