/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// @import "../../../vendor/assets/stylesheets/css/*";
// @import "../../../app/assets/stylesheets/css/*";
// @import "../../../app/assets/stylesheets/scss/*";

// @import "../../../vendor/assets/stylesheets/css/fontawesome.scss";
// @import "../../../vendor/assets/stylesheets/css/slick.css";
// @import "../../../vendor/assets/stylesheets/css/slick-theme.scss";
// @import "../../../vendor/assets/stylesheets/css/animate.css";
// @import "../../../vendor/assets/stylesheets/css/themify-icons.scss";
// @import "../../../vendor/assets/stylesheets/css/bootstrap.css";
// @import "../../../vendor/assets/stylesheets/css/color1.scss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* loader two */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #066;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;

// GINA TAble CSS
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}
.table td, .table th {
  padding: 1rem 2.5rem;
  vertical-align: top;
  border-top: 1px solid #f2f4f5;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
  color: #282b2f !important;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f2f4f5
}
.table tbody+tbody {
  border-top: 2px solid #f2f4f5
}
.table .table {
  background-color: #f3f3f3
}
.table-sm td, .table-sm th {
  padding: .75rem 1rem
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #f2f4f5
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px
}
.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
  border: 0
}
.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f4f5
}
.table-primary, .table-primary>td, .table-primary>th {
  background-color: #c1e2fc
}
.table-primary tbody+tbody, .table-primary td, .table-primary th, .table-primary thead th {
  border-color: #8cc8f9
}
.table-hover .table-primary:hover, .table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
  background-color: #a9d7fb
}
.table-secondary, .table-secondary>td, .table-secondary>th {
  background-color: #dddfe2
}
.table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
  border-color: #c0c4c8
}
.table-hover .table-secondary:hover, .table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th {
  background-color: #cfd2d6
}
.table-success, .table-success>td, .table-success>th {
  background-color: #c6efdd
}
.table-success tbody+tbody, .table-success td, .table-success th, .table-success thead th {
  border-color: #94e2c1
}
.table-hover .table-success:hover, .table-hover .table-success:hover>td, .table-hover .table-success:hover>th {
  background-color: #b2e9d1
}
.table-info, .table-info>td, .table-info>th {
  background-color: #b8e7fc
}
.table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th {
  border-color: #7cd2f9
}
.table-hover .table-info:hover, .table-hover .table-info:hover>td, .table-hover .table-info:hover>th {
  background-color: #a0dffb
}
.table-warning, .table-warning>td, .table-warning>th {
  background-color: #ffefc1
}
.table-warning tbody+tbody, .table-warning td, .table-warning th, .table-warning thead th {
  border-color: #ffe28c
}
.table-hover .table-warning:hover, .table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th {
  background-color: #ffe8a8
}
.table-danger, .table-danger>td, .table-danger>th {
  background-color: #ffd6d5
}
.table-danger tbody+tbody, .table-danger td, .table-danger th, .table-danger thead th {
  border-color: #ffb2b0
}
.table-hover .table-danger:hover, .table-hover .table-danger:hover>td, .table-hover .table-danger:hover>th {
  background-color: #ffbdbc
}
.table-light, .table-light>td, .table-light>th {
  background-color: #fcfcfc
}
.table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
  border-color: #fafafa
}
.table-hover .table-light:hover, .table-hover .table-light:hover>td, .table-hover .table-light:hover>th {
  background-color: #efefef
}
.table-dark, .table-dark>td, .table-dark>th {
  background-color: #ccced0
}
.table-dark tbody+tbody, .table-dark td, .table-dark th, .table-dark thead th {
  border-color: #a0a4a8
}
.table-hover .table-dark:hover, .table-hover .table-dark:hover>td, .table-hover .table-dark:hover>th {
  background-color: #bfc1c4
}
.table-active, .table-active>td, .table-active>th {
  background-color: #f2f4f5
}
.table-hover .table-active:hover, .table-hover .table-active:hover>td, .table-hover .table-active:hover>th {
  background-color: #e3e7eb
}
.table .thead-dark th {
  color: #f3f3f3;
  background-color: #313a44;
  border-color: #3e464e
}
.table .thead-light th {
  color: #495057;
  background-color: #f2f4f5;
  border-color: #f2f4f5
}
.table-dark {
  color: #f3f3f3;
  background-color: #313a44
}
.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #3e464e
}
.table-dark.table-bordered, .table-responsive>.table-bordered {
  border: 0
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,.05)
}
.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255,255,255,.075)
}
.form-control, .form-control-plaintext, .form-control:disabled, .form-control:focus, .form-control[readonly] {
  background-color: transparent
}

@media (max-width:575.98px) {
.table-responsive-sm {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}
.table-responsive-sm>.table-bordered {
  border: 0
}
}

@media (max-width:767.98px) {
.table-responsive-md {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}
.table-responsive-md>.table-bordered {
  border: 0
}
}

@media (max-width:991.98px) {
.table-responsive-lg {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}
.table-responsive-lg>.table-bordered {
  border: 0
}
}

@media (max-width:1199.98px) {
.table-responsive-xl {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}
.table-responsive-xl>.table-bordered {
  border: 0
}
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}

.paginate_button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
}