 <div class="review-rating" data-score="<%= review.rating %>"></div>
    <p class="review-comment"><%= review.comment %></p>
    <% if customer_signed_in? %>
        <% if review.customer_id == current_customer.id %>
            <div>
                <%= link_to "Edit", edit_product_review_path(review.product, review), class: "btn btn-third-col" %>
                <%= link_to "Delete", product_review_path(review.product, review), method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-third-col" %>
            </div>
        <% end %>
    <% end %>