<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment Received</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- show phone number that paid, paybill used, account_used, transaction code -->
        <div class="paid">
          <p>Paybill Number: <span id="paybill"></span><p>
          <p>Transaction Code: <span id="transaction_code"></span></p>
          <p>Phone Number: <span id="phone"></span></p>
        </div>
        <div class="unpaid">
          <p class="message">No payment received</p>
        </div>

        <div class="pending">
          <p class="message">Waiting for payment</p>
        </div>

        <div class="failed">
          <p class="message">Failed to make Mpesa payment</p>
        </div>
        
      </div>
      <div class="modal-footer paid">
        <%= link_to 'View Order Details', order_success_path(@order.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<script>
  // var href = $("#order_success_btn").attr('href', "89789789797797");
  // $("#paymentModal").show()
</script>